<h3>Usuários</h3>

<button class="btn btn-primary">Incluir Usuário</button>
<br /><br />

<p *ngIf="!(usuarios && usuarios.lenght)">
  Não existem usuários para exibir
</p>

<table class="table" *ngIf="usuarios && usuarios.lenght">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Comando</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.nome}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.senha}}</td>
      <td>
        <button>Alterar</button>
        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
